{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body style="background-color: rgb(153, 152, 152);">
    <!--Header-->
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-primary-subtle">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="prodDetails/">product Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search" method="post" action="{% url 'search' %}">
                      {%csrf_token%}
                      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>
    <!--End of header-->
        <div class="row">
        {% block body %}

        {% endblock %}
        </div>
    <!--Footer-->
        <div class="row">
            <div class="col-md-4">
                <h4>Address</h4>
                <hr>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <hr>
                <a href="/">Home</a><br><br>
                <a href="viewCart/">Cart</a><br><br>
                <a href="">About</a>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <hr>
                <h2><a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a><br></h2>
                <h2><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a><br></h2>
                <h2><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a><br></h2>
            </div>
        </div>
    <!--End of footer-->
    </div>
</body>
</html>