{% extends "base.html" %}
{% block title %} search product {% endblock %}
{% block body%}

    <h1>Search Product for {{query}}</h1>
    <table border="2" class="table table-sm table-bordered border-primary table-secondary" width="500px">
        <tr>
            <th>Sr. No</th>
            <th>Product Name</th>
            <th>Desciption</th>
            <th>Price</th>
            <th>Image</th>
        </tr><br>
        {% for x in results %}
        <tr style="text-align: center;">
            <td>{{forloop.counter}}</td>
            <td>{{x.product_name}}</td>
            <td>{{x.desc}}</td>
            <td>{{x.price}}</td>
            <td><img src="{{x.image.url}}"style="width:50%; height:200px"></td>

        </tr>
        {% endfor%}
    </table>
{% endblock %} 